@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@font-face {
  font-family: 'fontello';
  src: url("font/fontello.eot?12748186");
  src: url("font/fontello.eot?12748186#iefix") format("embedded-opentype"), url("font/fontello.woff2?12748186") format("woff2"), url("font/fontello.woff?12748186") format("woff"), url("font/fontello.ttf?12748186") format("truetype"), url("font/fontello.svg?12748186#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-male:before {
  content: '\e800';
}

/* '' */
.icon-female:before {
  content: '\e801';
}

/* '' */
body {
  background: #E5E5E5;
  font-family: 'Roboto', sans-serif;
}

.container {
  background: #fff;
  width: 350px;
  border-radius: 8px;
  padding: 24px;
  margin: 100px auto 0;
}

.container .header {
  padding-bottom: 24px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.container .body {
  padding-bottom: 24px;
}

.container .body .choose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 24px;
}

.container .body .choose label {
  border: 1px solid #E5E5E5;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: center;
  margin: 0 12px;
  border-radius: 8px;
  padding: 24px;
  font-size: 14px;
  color: #8D8D8D;
  cursor: pointer;
}

.container .body .choose label i {
  color: unset;
}

.container .body .choose label:hover {
  border-color: #2685DD;
}

.container .body .choose label:first-of-type {
  margin-left: 0;
}

.container .body .choose label:last-of-type {
  margin-right: 0;
}

.container .body .choose input {
  display: none;
  width: 0;
  height: 0;
  margin: -12px;
}

.container .body .choose input:checked + label {
  border-color: #2685DD;
  color: unset;
}

.container .body .choose input:checked + label i {
  color: #2685DD;
}

.container .body .inputs {
  display: block;
}

.container .body .inputs .item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  margin-bottom: 24px;
  line-height: 46px;
}

.container .body .inputs .item:last-child {
  margin: 0;
}

.container .body .inputs .item span {
  font-size: 14px;
  color: #8D8D8D;
}

.container .body .inputs .item input {
  height: 40px;
  line-height: 40px;
  width: calc(50% - 12px);
  padding: 0 24px;
  border-radius: 8px;
  float: right;
  border: 1px solid #E5E5E5;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 22px;
  outline: none;
  text-align: center;
}

.container .body .inputs .item input:hover, .container .body .inputs .item input:focus {
  border-color: #2685DD;
}

.container .body .results {
  border: 1px solid #E5E5E5;
  padding: 24px;
  text-align: center;
  border-radius: 8px;
  margin-bottom: 24px;
}

.container .body .results > * {
  display: block;
}

.container .body .results span {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 24px;
  color: #8D8D8D;
}

.container .body .results strong {
  font-size: 52px;
  line-height: 52px;
  color: #2685DD;
  font-weight: normal;
}

.container .body .infos span {
  display: block;
  font-size: 14px;
  line-height: 26px;
  color: #8D8D8D;
}

.container .footer button {
  width: 100%;
  display: block;
  border-radius: 8px;
  padding: 24px;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #2685DD;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}

.hide {
  display: none !important;
}
/*# sourceMappingURL=styles.css.map */